@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1671777646229') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caozuo-kaiguan:before {
  content: "\e614";
}

.icon-charutupian:before {
  content: "\ec7f";
}

.icon-xiaoxi:before {
  content: "\e64b";
}

.icon-yiyuan:before {
  content: "\e7aa";
}

